ARM/CreateLogicApps/template_binglocations.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_bing_locations_logic_app_name": {
      "defaultValue": "twitter_logic_app",
      "type": "String"
    },
    "bing_api_key": {
      "defaultValue": "",
      "type": "String"
    },
    "connections_sql_externalid": {
      "defaultValue": "needs to be replaced",
      "type": "String"
    }
  },
  "variables": {},
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_bing_locations_logic_app_name')]",
      "location": "northeurope",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "api_key": {
              "defaultValue": "[parameters('bing_api_key')]",
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence_every_10_minutes": {
              "recurrence": {
                "frequency": "Minute",
                "interval": 10
              },
              "type": "Recurrence"
            }
          },
          "actions": {
            "For_each_2": {
              "foreach": "@body('Get_Locations_from_SQL_with_no_Bing_Location_Set')?['value']",
              "actions": {
                "Execute_stored_procedure_(V2)": {
                  "runAfter": {
                    "HTTP": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "JSON": "@{body('HTTP')}",
                      "LocationID": "@items('For_each_2')?['TweetLocationID']"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[CreateBingLocation]'))}"
                  }
                },
                "HTTP": {
                  "runAfter": {},
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": null,
                    "uri": "http://dev.virtualearth.net/REST/v1/Locations/@{replace(replace(trim(replace(replace(replace(replace(items('For_each_2')?['TweetLocation'],'/',' ' ), '.', ' '),'&',''),'''','')),':',''),'#','')}?o=json&key=@{parameters('api_key')}&maxResults=1"
                  }
                }
              },
              "runAfter": {
                "Get_Locations_from_SQL_with_no_Bing_Location_Set": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_Locations_from_SQL_with_no_Bing_Location_Set": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[viewNoBingLocations]'))}/items"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "connectionId": "[parameters('connections_sql_externalid')]",
                "connectionName": "sql",
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/northeurope/managedApis/sql')]"
              }
            }
          }
        }
      }
    }
  ]
}